# Ignore macOS system files
.DS_Store

# Ignore created dependencies
_deps

# Ignore build directories (if applicable)
build/
cmake-build-debug/
cmake-build-release/

# Ignore plugin binaries and resources
plugins/DistortionVST_artefacts/
plugins/DistortionVST.component/
plugins/DistortionVST.vst3/

# Ignore CMakeCache.txt and other generated CMake files
CMakeCache.txt
CMakeFiles/
*.cmake

# Ignore dependency managers or external libraries
libs/CPM_0.38.7.cmake

# Optionally ignore any IDE specific files (e.g., for Xcode or CLion)
.idea/
.vscode/